@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
}

/* Tentang Kami */
.content {
  /*margin-right: 30px;*/
  /*margin-left: 30px;*/
  margin-top: 80px;
  flex: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #fdfaf2, white);
}

main .content .content-description {
  flex: 1 1;
  text-align: center;
  width: 100%;
  padding: 10px;
}

h1.title1 {
  margin-bottom: 15px;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  text-align: left;
  padding: 10px;
}

main .content .content-image {
  flex: 1;
  display: flex;
  justify-content: end;
}

main .content .content-image img {
  width: 100%;
}

.about-image {
  margin-block: 20px;
}

/*Tim Kami*/
.team {
  max-height: 900px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #f7e1ae, #fdfaf2);
}

.team .our-team {
  margin: 30px;
}

h1.title2 {
  color: #b2533e;
}

.team .our-team .title {
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;
}

.our-team hr {
  width: 150px;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.aboutus-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dua kolom dengan lebar yang sama */
  grid-template-rows: repeat(2, 1fr); /* Tiga baris dengan tinggi yang sama */
  grid-gap: 20px; /* Jarak antara elemen-elemen dalam grid */
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.aboutus-container .aboutus-item {
  width: 270px;
  text-align: center;
  margin: auto;
}

.aboutus-item img {
  width: 200px;
  height: 200px;
  border-radius: 99px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

.copyright {
  text-align: left;
  width: 100%;
}

/* End of Footer */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .title {
    font-size: 1.75rem;
  }
  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .title {
    font-size: 1.5rem;
  }
  header.navbar-container .logo img {
    width: 120px;
  }

  #hamburger {
    display: block;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  main .content .content-image img {
    width: 100%;
  }

  h1.title1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  h1.title2 {
    font-size: 24px;
    color: #b2533e;
  }

  .our-team hr {
    width: 120px;
    height: 4px;
  }

  .aboutus-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .footer-col .title {
    font-size: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 450px) {
  main .content .content-description p {
    line-height: 1rem;
    font-size: 8px;
    text-align: justify;
    padding-inline: 8px;
  }

  main .content .content-image img {
    flex: 1;
    display: flex;
    justify-content: end;
    height: 200px;
    width: 100%; /*widthnya belum bisa, jadi gepeng*/
  }

  h1.title1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  h1.title2 {
    font-size: 20px;
    color: #b2533e;
  }

  .our-team hr {
    width: 100px;
    height: 3px;
  }

  header.navbar-container .logo img {
    width: 130px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .content {
    width: 100%;
  }

  .aboutus-container {
    width: 450px;
  }

  .aboutus-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 5px;
  }

  .aboutus-item {
    max-width: 130px;
    width: 100%;
    margin-inline: 30px;
    height: 100%;
  }

  .aboutus-item img {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
