@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
header.navbar-container {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
}

/* Tentang Kami */
.content {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1;
  text-align: center;
  width: 100%;
}

main .content .content-description .title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

main .content .content-image {
  flex: 1;
  display: flex;
  justify-content: end;
}

main .content .content-image img {
  min-width: 300px;
  width: 100%;
}

/*Tim Kami*/
.tim {
  max-height: 900px;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #fdfaf2;
}

.tim .tim-kami {
  margin: 30px;
}

.tim .tim-kami .title {
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;
}

.tim-kami hr {
  width: 150px;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.aboutus-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dua kolom dengan lebar yang sama */
  grid-template-rows: repeat(2, 1fr); /* Tiga baris dengan tinggi yang sama */
  grid-gap: 20px; /* Jarak antara elemen-elemen dalam grid */
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.aboutus-container .aboutus-item {
  width: 240px;
  text-align: center;
  margin: auto;
}

.aboutus-item img {
  width: 200px;
  height: 200px;
}

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #186f65;
  max-height: 400px;

  width: 100%;
}

.footer-logo {
  margin-left: 80px;
}

.footer-col img {
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 170px;
  width: 100%;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-col {
  color: white;
  padding: 20px;
  margin: auto;
  width: 25%;
}

.footer-col h3 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

ul li a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 40px;
}

.social-links i {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.social-links i fa-brands::before {
  size: 40px;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .title {
    font-size: 1.75rem;
  }
  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .title {
    font-size: 1.5rem;
  }
  header.navbar-container .logo img {
    width: 120px;
  }

  main .content .content-image img {
    width: 62.5%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-col .title {
    font-size: 100%;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .title {
    font-size: 1rem;
  }
  header.navbar-container .logo img {
    width: 75px;
  }

  main .content .content-image img {
    width: 55%;
  }
}
