@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

/* Tentang Kami */
.about-us {
  margin-top: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #fdfaf2, white);
}

main .about-us .about-us-description {
  flex: 1 1;
  text-align: center;
  width: 100%;
  padding: 10px 60px;
}

main .about-us .about-us-description .about-us-title {
  font-size: 42px;
  color: #b2533e;
}

.about-us-description hr {
  height: 5px;
  background-color: #b2533e;
  width: 300px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}

main .about-us .about-us-description p {
  font-size: 21px;
  text-align: left;
  padding: 10px;
}

main .about-us .about-us-image {
  flex: 1;
  display: flex;
  justify-content: end;
}

main .about-us .about-us-image img {
  width: 100%;
}

/* End of Tentang Kami */

/*Mengapa Memilih Kami*/
.featured {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.why-choose-us-title {
  justify-content: center;
  text-align: center;
  font-size: 42px;
  color: #b2533e;
  margin-top: 20px;
}

.why-choose-us-title hr {
  height: 5px;
  background-color: #b2533e;
  width: 680px;
  border-radius: 15px;
  margin: auto;
}

.about-image {
  margin-block: 20px;
  width: 700px;
}

.about-image img {
  width: 100%;
  left: 0;
}

.featured-description-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.featured-description-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.featured-description-item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.featured-description-item p {
  font-size: 21px;
  text-align: left;
  padding: 10px;
}

/* End of Mengapa Memilih Kami */

/*Tim Kami*/
.team {
  max-height: 950px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #f7e1ae, #fdfaf2);
}

.team .our-team {
  margin: 30px;
}

.team .our-team .our-team-title {
  justify-content: center;
  text-align: center;
  font-size: 42px;
  color: #b2533e;
}

.our-team hr {
  width: 200px;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.social-media i {
  font-size: 30px;
  margin: 10px;
}

.social-media i:hover {
  border-radius: 20px;
  box-shadow: 0 8px 12px 0 rgba(54, 17, 17, 0.9);
}

.our-team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dua kolom dengan lebar yang sama */
  grid-template-rows: repeat(2, 1fr); /* Tiga baris dengan tinggi yang sama */
  grid-gap: 20px; /* Jarak antara elemen-elemen dalam grid */
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  gap: 50px 20px;
}

.our-team-container .our-team-item {
  width: 300px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  color: white;
  background-color: #d7996c;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.our-team-item img {
  width: 200px;
  height: 200px;
  border-radius: 99px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
  object-fit: cover;
  margin-top: 10px;
  background-color: #f7e1ae;
}

.our-team-item p {
  font-size: 11px;
}

/* End of Tim Kami */

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

.copyright {
  text-align: left;
  width: 100%;
}

/* End of Footer */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .about-us-title {
    font-size: 1.75rem;
  }

  header.navbar-container {
    width: 100%;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  .our-team hr {
    width: 120px;
  }

  .our-team-container .our-team-item {
    width: 300px;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    width: 100%;
    gap: 35px;
  }

  .team .our-team .our-team-title {
    font-size: 32px;
  }

  .why-choose-us-title {
    font-size: 32px;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 32px;
  }

  .about-us-description hr {
    width: 233px;
    margin-bottom: 10px;
  }

  .about-us {
    margin-top: 80px;
  }

  .why-choose-us-title hr {
    width: 521px;
  }

  .our-team hr {
    width: 153px;
  }

  main .about-us .about-us-description p {
    font-size: 16px;
  }

  .featured-description-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .team {
    max-height: 1300px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  main {
    min-height: 100vh;
  }

  html {
    font-size: 62.5%;
  }
  .about-us-title {
    font-size: 1.5rem;
  }
  header.navbar-container .logo img {
    width: 150px;
  }

  .content {
    margin-top: 60px;
  }

  #hamburger {
    display: block;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .about-us {
    margin-top: 60px;
  }

  .team {
    max-height: 1200px;
    height: 100%;
  }

  main .about-us .about-us-description {
    padding: 10px;
  }

  main .about-us .about-us-image img {
    width: 100%;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 32px;
  }

  .about-us-description hr {
    margin-bottom: 10px;
    width: 230px;
    height: 4px;
  }

  main .about-us .about-us-description p {
    font-size: 14px;
  }

  h1.title2 {
    font-size: 24px;
    color: #b2533e;
  }

  .team .our-team .our-team-title {
    font-size: 32px;
  }

  .why-choose-us-title {
    font-size: 32px;
  }

  .why-choose-us-title hr {
    width: 515px;
  }

  .featured-description-item p {
    font-size: 14px;
  }

  .featured-description-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .our-team-item p {
    font-size: 12px;
  }

  .our-team hr {
    width: 145px;
    height: 4px;
  }

  .our-team-container .our-team-item {
    font-size: 14px;
  }

  .aboutus-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    width: 100%;
    gap: 40px;
  }

  .social-media i {
    font-size: 24px;
  }

  .footer-col .title {
    font-size: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 450px) {
  main .about-us .about-us-description p {
    line-height: 1rem;
    font-size: 10px;
    text-align: justify;
    padding-inline: 8px;
  }

  main .about-us .about-us-image img {
    flex: 1;
    display: flex;
    justify-content: end;
    height: 200px;
    width: 100%;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 16px;
    margin-top: 10px;
  }

  main .why-choose-us-title {
    font-size: 16px;
    margin-top: 10px;
  }

  .why-choose-us-title hr {
    height: 3px;
    background-color: #b2533e;
    width: 260px;
    border-radius: 15px;
    margin: auto;
  }

  .featured {
    max-height: 450px;
    height: 100%;
  }

  .about-image {
    width: 250px;
  }

  .featured .about-image img {
    width: 100%;
  }

  .featured-description-item p {
    font-size: 10px;
    text-align: left;
    padding: 5px;
  }

  .featured-description-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 1px;
  }

  .featured-description-item {
    padding: 5px;
  }

  .featured-description-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .team {
    max-height: 1400px;
    height: 100%;
  }

  .team .our-team .our-team-title {
    font-size: 16px;
    color: #b2533e;
  }

  .our-team hr {
    width: 77px;
    height: 3px;
  }

  .our-team-container .our-team-item {
    width: 100%;
    max-height: 300px;
    height: 100%;
  }

  .our-team-item h4 {
    font-size: 10px;
  }

  .our-team-item p {
    font-size: 8px;
  }

  .our-team-item .social-media i {
    font-size: 12px;
  }

  header.navbar-container .logo img {
    width: 130px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .about-us {
    width: 100%;
    margin-top: 60px;
  }

  main .about-us .about-us-description {
    width: 200px;
    padding: 0;
  }

  .about-us-description hr {
    width: 117px;
    height: 3px;
    margin-bottom: 5px;
  }

  .our-team-container {
    width: 450px;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px 10px;
  }

  .our-team-item {
    max-width: 170px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .our-team-item img {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
  }

  .social-media i {
    font-size: 21px;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
