

/* End of Tim Kami */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .about-us-title {
    font-size: 1.75rem;
  }

  .our-team hr {
    width: 120px;
  }

  .our-team-container .our-team-item {
    width: 300px;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    width: 100%;
    gap: 35px;
  }

  .team .our-team .our-team-title {
    font-size: 32px;
  }

  .why-choose-us-title {
    font-size: 32px;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 32px;
  }

  .about-us-description hr {
    width: 233px;
    margin-bottom: 10px;
  }

  .about-us {
    margin-top: 80px;
  }

  .why-choose-us-title hr {
    width: 521px;
  }

  .our-team hr {
    width: 153px;
  }

  main .about-us .about-us-description p {
    font-size: 16px;
  }

  .featured-description-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .team {
    max-height: 1300px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  main {
    min-height: 100vh;
  }

  html {
    font-size: 62.5%;
  }
  .about-us-title {
    font-size: 1.5rem;
  }

  .content {
    margin-top: 60px;
  }

  .about-us {
    margin-top: 60px;
  }

  .team {
    max-height: 1200px;
    height: 100%;
  }

  main .about-us .about-us-description {
    padding: 10px;
  }

  main .about-us .about-us-image img {
    width: 100%;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 32px;
  }

  .about-us-description hr {
    margin-bottom: 10px;
    width: 230px;
    height: 4px;
  }

  main .about-us .about-us-description p {
    font-size: 14px;
  }

  h1.title2 {
    font-size: 24px;
    color: #b2533e;
  }

  .team .our-team .our-team-title {
    font-size: 32px;
  }

  .why-choose-us-title {
    font-size: 32px;
  }

  .why-choose-us-title hr {
    width: 515px;
  }

  .featured-description-item p {
    font-size: 14px;
  }

  .featured-description-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .our-team-item p {
    font-size: 12px;
  }

  .our-team hr {
    width: 145px;
    height: 4px;
  }

  .our-team-container .our-team-item {
    font-size: 14px;
  }

  .aboutus-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    width: 100%;
    gap: 40px;
  }

  .social-media i {
    font-size: 24px;
  }
}

@media (max-width: 450px) {
  main .about-us .about-us-description p {
    line-height: 1rem;
    font-size: 10px;
    text-align: justify;
    padding-inline: 8px;
  }

  main .about-us .about-us-image img {
    flex: 1;
    display: flex;
    justify-content: end;
    height: 200px;
    width: 100%;
  }

  main .about-us .about-us-description .about-us-title {
    font-size: 16px;
    margin-top: 10px;
  }

  main .why-choose-us-title {
    font-size: 16px;
    margin-top: 10px;
  }

  .why-choose-us-title hr {
    height: 3px;
    background-color: #b2533e;
    width: 260px;
    border-radius: 15px;
    margin: auto;
  }

  .featured {
    max-height: 450px;
    height: 100%;
  }

  .about-image {
    width: 250px;
  }

  .featured .about-image img {
    width: 100%;
  }

  .featured-description-item p {
    font-size: 10px;
    text-align: left;
    padding: 5px;
  }

  .featured-description-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 1px;
  }

  .featured-description-item {
    padding: 5px;
  }

  .featured-description-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .team {
    max-height: 1400px;
    height: 100%;
  }

  .team .our-team .our-team-title {
    font-size: 16px;
    color: #b2533e;
  }

  .our-team hr {
    width: 77px;
    height: 3px;
  }

  .our-team-container .our-team-item {
    width: 100%;
    max-height: 300px;
    height: 100%;
  }

  .our-team-item h4 {
    font-size: 10px;
  }

  .our-team-item p {
    font-size: 8px;
  }

  .our-team-item .social-media i {
    font-size: 12px;
  }

  .about-us {
    width: 100%;
    margin-top: 60px;
  }

  main .about-us .about-us-description {
    width: 200px;
    padding: 0;
  }

  .about-us-description hr {
    width: 117px;
    height: 3px;
    margin-bottom: 5px;
  }

  .our-team-container {
    width: 450px;
  }

  .our-team-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px 10px;
  }

  .our-team-item {
    max-width: 170px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .our-team-item img {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
  }

  .social-media i {
    font-size: 21px;
  }
}
