@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  background: linear-gradient(to right, #fdfaf2, white);
}

main .content .content-description {
  flex: 1 1;
  text-align: center;
  width: 100%;
}

main .content .content-description .title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

main .content .content-image {
  flex: 1;
  display: flex;
  justify-content: end;
}

main .content .content-image img {
  min-width: 300px;
  width: 100%;
}

/*About SR*/

.about-sr {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  background-color: #fdfaf2;
  background: linear-gradient(to left, #f7e1ae, #fdfaf2);
}

.about-sr .about-description {
  flex: 1 1;
  padding: auto;
}

.about-sr .about-description .title {
  font-size: 2.5rem;

  color: #b2533e;
}

.about-sr .about-description p {
  margin-block: 1rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.about-sr .about-description hr {
  width: 100px;
  height: 5px;
  margin-left: 0;
  border-radius: 15px;
  background-color: #b2533e;
}

.about-sr .about-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.about-sr .about-description button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

.about-sr .about-image {
  flex: 1;
  display: flex;
}

.about-sr .about-image img {
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.hero {
  display: flex;
}

/*Offering*/
.offer {
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: white;
  background: linear-gradient(to top, #fdfaf2, white);
}

.offer-des .title {
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;

  margin-bottom: 0;
}

.offer-des p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
}

.grid .card {
  text-align: center;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px black;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 30px 100px;
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
}

.grid img {
  max-width: 200px;
  min-width: 200px;
  width: 100%;

  object-fit: cover;
  border-radius: 20px;
}

.offer-button {
  text-align: center;
  align-items: center;
}

.offer-button button {
  justify-content: center;
  padding: 0.8rem 2.5rem;
  margin-block: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.offer-button button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

/*Order*/
.order {
  max-height: 400px;
  height: 100%;
  width: 100%;
  background-color: #fdfaf2;
  background: linear-gradient(to top, #f7e1ae, #fdfaf2);
}

.order .order-des {
  margin: 30px;
}

.order .order-des .title {
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;
}

.order-des hr {
  width: 250px;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.grid-order {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.order .grid-order .card {
  width: 100px;
}

.card-order {
  text-align: center;
  margin-block: 50px;
}

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #186f65;
  max-height: 400px;

  width: 100%;
}

.footer-logo {
  margin-left: 80px;
}

.footer-col img {
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 170px;
  width: 100%;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-col {
  color: white;
  padding: 20px;
  margin: auto;
  width: 25%;
}

.footer-col h3 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

ul li a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 40px;
}

.social-links i {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.social-links i fa-brands::before {
  size: 40px;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .title {
    font-size: 1.75rem;
  }
  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .title {
    font-size: 1.5rem;
  }
  header.navbar-container .logo img {
    width: 120px;
  }

  main .content .content-image img {
    width: 62.5%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-col .title {
    font-size: 100%;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .title {
    font-size: 1rem;
  }
  header.navbar-container .logo img {
    width: 75px;
  }

  main .content .content-image img {
    width: 55%;
  }
}
