@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.konten {
  width: 100%;
  max-height: 300px;
  height: 100%;
  color: #b2533e;
  font-size: 2rem;
  display: block;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

.konten-hr {
  margin-block: 30px;
  height: 5px;
  background-color: #b2533e;
  width: 230px;
  margin-top: 0;
}

.konten2 {
  max-width: 800px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.konten2 button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.konten2 button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

/* End of Footer */

@media (max-width: 1366px) {
  html p {
    font-size: 75%;
  }

  p {
    text-align: center;
  }

  header.navbar-container .logo img {
    width: 150px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 140px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .container {
    margin-top: 60px;
  }

  .konten {
    margin-inline: 30px;
  }

  hr {
    max-width: 147px;
    max-height: 3px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}

@media (max-width: 450px) {
  header.navbar-container .logo img {
    width: 130px;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
