@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.konten {
  width: 100%;
  max-height: 300px;
  height: 100%;
  color: #b2533e;
  font-size: 28px;
  display: block;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

.konten-hr {
  margin-block: 30px;
  height: 5px;
  background-color: #b2533e;
  width: 203px;
  margin-top: 0;
}

.konten2 p {
    color: black;
    font-size: 21px;
    text-align: center;
    display: block;
    margin-top: 230px;
    margin-left: 150px;
    margin-right: 150px;
}

.konten2 button {
  color: white;
  font-size: 21px;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 210px;
  background-color: #186f65;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
  margin-left: 720px;
  margin-right: 720px;
}

.konten2 {
  max-width: 700px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.konten2 button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.konten2 button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: #186f65;
  max-height: 400px;
  width: 100%;
}

.footer-logo {
  margin-left: 80px;
}

.footer-col img {
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 170px;
  width: 100%;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-col {
  color: white;
  padding: 20px;
  margin: auto;
  width: 25%;
}

.footer-col h3 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

ul li a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 40px;
}

.social-links i {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.social-links i fa-brands::before {
  size: 40px;
}
