@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
header.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}
/* End of Header */

.container {
  margin-top: 80px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: radial-gradient(
    circle farthest-side at center right,
    #f6e8c9,
    #ffffff
  );
}

.left-content {
  min-height: 100vh;
  max-width: 300px;
  width: 100%;
  margin: 30px 10px;
}

/* Start category */
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 400px;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fce09b;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
  border: 1px solid #186f65;
}

.list-category {
  max-width: 400px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.list-category ul {
  padding: 0;
  max-height: 500px;
  height: 100%;
  justify-content: center;
  list-style: none;
}

.list-category li {
  border-radius: inherit;
}

.category ul li a {
  color: #186f65;
  font-size: 1.1rem;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  height: 53px;
  padding: 12px 20px;
}

.category i {
  font-size: 10px;
  align-items: center;
}

.list-hr {
  height: 3px;
  max-width: 400px;
  width: 100%;
  background-color: #186f65;
}

.list-category .active {
  background-color: #d7996c;
  color: white;
}

.active li a {
  color: white;
}
/* End of category */

/* Start  Article*/
.article {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: 775px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #b2533e;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.article-title {
  text-align: center;
  color: white;
  width: 100%;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 24px;
}

.title-hr {
  height: 5px;
  background-color: #fce09b;
}

.article p {
  text-align: left;
  color: white;
  /* height: 25px; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
}

.article a {
  text-align: center;
  margin-left: 60px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  background-color: #d7996c;
  border: 1px solid #b2533e;
  font-size: 16px;
  text-decoration: none;
  font-style: italic;
}

.article i {
  margin-left: 10px;
}

.article-hr {
  margin-block: 30px;
}
/* End of Article */

.dropdown {
  display: none;
}

.right-content {
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}

.box-detail-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

/* Search Bar */
.search-bar {
  display: flex;
  max-height: 50px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  max-width: 500px;
  width: 100%;
  border: 2px solid black;
  border-radius: 40px;
}

.search-bar input[type="text"] {
  font-family: "Poppins";
  font-weight: 650;
  text-align: center;
  font-size: 20px;
  border: transparent;
  background-color: transparent;
  margin-left: 3px;
  outline: none;
}

.search-bar button {
  padding: 6px 10px;
  font-size: 17px;
  border: transparent;
  background-color: transparent;
}
/* End of Search Bar */

/* Start Detail Menu */
.detail-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
  margin-block: 20px;
  height: 350px;
  background-color: #fff1cd;
  justify-content: center;
  padding-block: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.menu-btn {
  display: flex;
  width: 100%;
  max-height: 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu-btn button {
  padding: 10px;
  width: 120px;
  max-height: 40px;
  height: 100%;
  border: 0;
  border-radius: 7px;
  color: #fce09b;
  background-color: #186f65;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.detail-menu img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.menu-detail {
  max-width: 425px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  color: #186f65;
  font-weight: 500;
  margin-left: 20px;
}

.rating {
  display: flex;
  margin-block: 5px;
}

.rating i {
  font-size: 16px;
  color: #b2533e;
}

.menu-detail .rating p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-left: 5px;
  color: #b2533e;
}

.menu-detail h4 {
  font-size: 1rem;
}

.menu-detail p {
  font-size: 1rem;
  margin-top: 15px;
}
/* End of Detail Menu */

.title-review {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
  border-radius: 10px;
}

.title-review h1 {
  font-size: 1.5 rem;
  color: #b2533e;
  margin-top: 20px;
}

.title-review hr {
  width: 115px;
  height: 5px;
  border-radius: 15px;
  background-color: #b2533e;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block: 20px;
  height: 500px;
  border: 2px;
  background-color: #c7ede9;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.review {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  color: #186f65;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.review .rating {
  display: flex;
  margin-block: 5px;
}

.review .rating i {
  font-size: 16px;
  color: #b2533e;
}

.review .rating p {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-left: 5px;
  color: #b2533e;
}

.review h4 {
  font-size: 1rem;
}

.review p {
  font-size: 1rem;
}

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}
/* End of Footer */

/* Responsive Page Setting */

/* 1. Display Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .title {
    font-size: 1.75rem;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  .container {
    width: 100%;
  }
}
/* End of Display Laptop */

/* 2. Display Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 140px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .category {
    max-height: 450px;
    height: 100%;
  }

  .list-category {
    max-height: 450px;
    height: 100%;
  }

  .category ul li a {
    font-size: 1.4rem;
    padding: 12px 15px;
    height: 47px;
  }

  .article {
    height: 680px;
  }

  .article-title h3 {
    font-size: 18px;
  }

  .title-hr {
    margin-block: 20px;
  }

  .article p {
    font-size: 14px;
  }

  .article a {
    font-size: 14px;
    margin-left: 35px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .left-content {
    width: 250px;
  }

  .right-content {
    width: 400px;
  }

  .review-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 100%;
  }

  .review {
    max-height: 150px;
  }

  .review h4 {
    font-size: 14px;
  }

  .review p {
    font-size: 12px;
  }

  .review .rating i {
    font-size: 12px;
  }

  .box-detail-menu {
    height: 630px;
  }

  .menu-img {
    max-width: 350px;
    max-height: 250px;
  }

  .menu-img img {
    max-width: 350px;
    max-height: 250px;
  }

  .menu-detail {
    margin-top: 20px;
    margin-inline: 30px;
  }

  .menu-detail h2 {
    font-size: 18px;
  }

  .menu-detail h4 {
    font-size: 14px;
  }

  .menu-detail p {
    font-size: 14px;
  }

  .rating {
    display: flex;
    align-items: center;
  }

  .rating i {
    font-size: 12px;
  }

  .rating p {
    font-size: 12px;
  }

  .detail-menu {
    height: 540px;
  }

  .title-review h1 {
    margin-bottom: 0;
  }

  .title-review hr {
    width: 68px;
    height: 4px;
    background-color: #b2533e;
    border-radius: 15px;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-col img {
    width: 100%;
  }

  .footer-col .title,
  .footer-col-com .title {
    font-size: 12px;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
/* End of Display Tablet */

/* 3. Display HP */
@media (max-width: 450px) {
  header.navbar-container .logo img {
    width: 130px;
  }

  .left-content {
    display: none;
  }

  .dropbtn {
    width: 100%;
    height: 40px;
    background-color: #186f65;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 99px;
    font-family: "Poppins", sans-serif;
  }

  .dropdown {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  }

  .dropdown-content {
    width: 100%;
    display: none;
    background-color: #fce09b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #186f65;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content hr {
    height: 1.5px;
    background-color: #186f65;
  }

  .dropdown-content a:hover {
    background-color: #d7996c;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .search-bar {
    width: 355px;
  }

  .search-bar input[type="text"] {
    width: 100%;
    font-size: 14px;
  }

  .search-box {
    display: flex;
    width: 100%;
  }

  .right-content {
    height: 100%;
  }

  .box-detail-menu {
    height: 620px;
  }

  .detail-menu {
    width: 100%;
    height: 520px;
    margin-top: 20px;
  }

  .menu-img {
    max-width: 300px;
    max-height: 250px;
    margin: auto;
  }

  .menu-img img {
    max-width: 300px;
    max-height: 250px;
    align-items: center;
    margin: auto;
  }

  .menu-btn {
    margin-top: 10px;
    height: 40px;
  }

  .menu-detail {
    margin-inline: 30px;
    margin-top: 15px;
  }

  .menu-detail h2 {
    font-size: 18px;
  }

  .menu-detail h4 {
    font-size: 14px;
  }

  .menu-detail p {
    font-size: 14px;
    font-weight: 400;
  }

  .search-bar input {
    margin: 0;
    width: 170px;
  }

  .title-review h1 {
    margin-bottom: 0;
  }

  .title-review hr {
    width: 67px;
    height: 4px;
    background-color: #b2533e;
    border-radius: 15px;
  }

  .review1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 900px;
    width: 100%;
    height: 450px;
    border-radius: 10px;
  }

  .review1 h1 {
    font-size: 1 rem;
    color: #b2533e;
    margin-block: 20px;
  }

  .review-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    max-width: 355px;
    width: 100%;
    height: 100%;
    border: 2px;
    border-radius: 8px;
    background-color: #c7ede9;
    box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
  }

  .review {
    width: 330px;
    max-height: 400px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: #186f65;
    box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
  }

  .review h4 {
    font-size: 14px;
  }

  .review .rating i,
  .review .rating p {
    font-size: 12px;
    align-items: center;
  }

  .review p {
    font-size: 12px;
  }

  .star {
    position: absolute;
    top: 10px;
    right: 50px;
    color: gold;
    font-size: 24px;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }

  .title {
    font-size: 10px;
  }
}
