@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
header.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}
/* End of Header */

/* Main Content */
.container {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* Order List */
.row {
  max-width: 700px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
  justify-content: left;
}

.order {
  max-height: 100px;
  color: #b2533e;
  margin-inline: 20px;
  font-size: 16px;
  font-family: "Poppins";
  margin-top: 20px;
}

.order hr {
  max-width: 172px;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  background-color: #b2533e;
}
/* End of Order List */

/* Card Menu */
.scroll {
  overflow: auto;
  max-height: 450px;
  height: 100%;
  margin-top: 10px;
}

.side-bar {
  align-items: right;
  flex: 1;
  max-width: 650px;
  width: 100%;
  height: 150px;
  margin: 20px 10px;
  box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fdfaf2;
}

.order-menu {
  display: flex;
  max-width: 650px;
  width: 100%;
  max-height: 150px;
  height: 100%;
}

.side-bar img {
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}

.order-type {
  max-width: 350px;
  width: 100%;
  padding: 15px;
}

.order-type h3 {
  justify-content: end;
}

.menu-price {
  max-width: 120px;
  width: 100%;
  text-align: left;
  padding-top: 3px;
  font-size: 1.2rem;
  margin-left: 5px;
}

.notes input {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border: 1px solid #186f65;
  border-radius: 10px;
  margin-top: 15px;
}

.order-total {
  display: flex;
  max-height: 50px;
  height: 100%;
  padding-block: 10px;
  margin-top: 30px;
}

.order-total p {
  font-size: 21px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.order-total .minus {
  background-color: white;
  border: 1px solid #186f65;
  border-radius: 5px;
  cursor: pointer;
}

.order-total .num {
  background-color: white;
  border-radius: 5px;
}

.order-total .plus {
  color: white;
  background-color: #186f65;
  border-radius: 5px;
  cursor: pointer;
}
/* End of Card Menu */

/* Add Order */
.add-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 665px;
  max-height: 100%;
  height: 75px;
}

.add-order h2 {
  font-size: 18px;
}

.add-order button {
  font-family: "Poppins", sans-serif;
  max-width: 100px;
  width: 100%;
  justify-content: center;
  padding: 5px 7px;
  margin-block: 1.5rem;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: #b2533e;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
/* End of Add Order */

/* Shipping Information */
.row-content {
  display: flex;
  height: 700px;
  max-width: 600px;
  width: 100%;
  align-items: left;
  justify-content: left;
}

.content {
  flex-direction: column;
  background-color: #fff1cd;
  max-width: 600px;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
  margin-top: 85px;
}

.content p {
  max-width: 150px;
}

.shipping-info {
  color: #b2533e;
  padding: 10px 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  justify-content: center;
}

.form .first-name,
.last-name,
.email,
.no-telp {
  max-width: 250px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  margin: 10px 20px;
}

.form .first-name input,
.last-name input,
.email input,
.no-telp input {
  border: 1px solid #b2533e;
  border-radius: 10px;
  max-height: 35px;
  height: 100%;
  background-color: #fdfaf2;
}

.form .address {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  max-height: 130px;
  height: 100%;
  margin: 10px 20px;
}

.form .address input {
  max-width: 550px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  border: 1px solid #b2533e;
  border-radius: 10px;
  background-color: #fdfaf2;
}

.form input {
  max-width: 250px;
  width: 100%;
  padding-left: 15px;
}
/* End of Shipping Information */

/* Total Charge */
.subtotal {
  max-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtotal-item {
  display: flex;
  border-radius: 10px;
  background-color: #fce09b;
  max-width: 550px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.subtotal-item h3 {
  margin-block: 10px;
}

.subtotal-left,
.subtotal-right {
  max-width: 100px;
  width: 100%;
  margin: 10px;
}

.subtotal-right {
  text-align: right;
}
/* End of Total Charge */

/* Order Confirmation */
.order-confirm-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.order-confirm-btn button {
  font-family: "Poppins", sans-serif;
  max-width: 530px;
  width: 100%;
  justify-content: center;
  padding: 0.8rem 2.5rem;
  margin-block: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #b2533e;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  color: #b2533e;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  max-width: 550px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.hr-modal {
  background-color: #b2533e;
  max-width: 200px;
  height: 5px;
  border-radius: 10px;
  margin-inline: auto;
}

.modal-content p {
  max-width: 550px;
  width: 100%;
  color: black;
  font-weight: 500;
  margin-block: 40px;
}

.close-btn {
  background-color: #186f65;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 30px;
}
/* End of Order Confirmation */

/* Footer */
footer {
  display: flex;
  background-color: #186f65;
  /* max-height: 400px; */
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}
/* End of Footer */

/* Responsive Page Setting */

/* 1. Display Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .title {
    font-size: 1.75rem;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }
}
/* End of Display Laptop */

/* 2. Display Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 120px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .order {
    max-height: 50px;
    font-size: 15px;
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }

  .order hr {
    display: flex;
    max-width: 160px;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: #b2533e;
    margin: auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    height: 1100px;
    margin-top: 60px;
  }

  .row {
    width: 500px;
    max-height: 400px;
    height: 100%;
    justify-content: left;
  }

  .scroll {
    overflow: auto;
    max-height: 350px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }

  .side-bar {
    align-items: center;
    width: 475px;
    height: 105px;
    margin: 20px 10px;
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #fdfaf2;
  }

  .side-bar img {
    width: 100px;
    height: 100px;
  }

  .order-type {
    padding: 10px;
    font-size: 12px;
  }

  .order-total {
    width: 80px;
    margin-top: 5px;
  }

  .order-total p {
    font-size: 14px;
    height: 20px;
    width: 20px;
  }

  .add-order h2 {
    font-size: 12px;
    margin-left: 10px;
  }

  .add-order button {
    max-width: 70px;
    width: 100%;
    justify-content: center;
    padding: 5px 3px;
    margin-block: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #b2533e;
    cursor: pointer;
    transition: all 0.15s ease-in;
    margin-right: 30px;
  }

  .row-content {
    width: 100%;
    margin-inline: 10px;
    align-items: left;
    justify-content: left;
  }

  .content {
    display: block;
    background-color: #fff1cd;
    max-width: 470px;
    width: 100%;
    height: 620px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
    margin-top: 0;
  }

  .order-menu {
    display: flex;
    max-width: 500px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    margin-bottom: 30px;
  }

  .notes input {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border: 1px solid #186f65;
    border-radius: 10px;
    margin-top: 15px;
  }

  .order-confirm-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-inline: 20px;
  }

  .order-confirm-btn button {
    max-width: 530px;
    width: 100%;
    justify-content: center;
    padding: 0.8rem 2.5rem;
    margin-block: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: #b2533e;
    cursor: pointer;
    transition: all 0.15s ease-in;
  }

  .subtotal {
    max-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subtotal-item {
    margin-inline: 20px;
  }

  .footer-col .title {
    font-size: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}
/* End of Display Tablet */

/* 3. Display HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .title {
    font-size: 1rem;
  }

  header.navbar-container .logo img {
    width: 130px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .side-bar {
    width: 350px;
    height: 105px;
  }

  .order h2 {
    font-size: 20px;
  }

  .order hr {
    width: 150px;
    height: 4px;
  }

  .side-bar img {
    width: 100px;
    height: 100px;
  }

  .order-type {
    padding: 10px;
  }

  .order-type p {
    font-size: 12px;
  }

  .notes input {
    margin-top: 8px;
    height: 30px;
  }

  .order-total {
    width: 80px;
  }

  .order-total p {
    font-size: 14px;
    height: 20px;
    width: 20px;
  }

  .row-content {
    margin-inline: 15px;
    height: 640px;
  }

  .form {
    max-height: 400px;
    height: 100%;
  }

  .form .first-name,
  .last-name,
  .email,
  .no-telp {
    max-width: 320px;
    width: 100%;
  }

  .form .address {
    height: 100px;
  }

  .form input {
    max-width: 320px;
    width: 100%;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
/* End of Display Hp */
