@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.row {
  max-width: 700px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
  justify-content: left;
}

.scroll {
  overflow: auto;
  max-height: 600px;
  height: 100%;
  margin-top: 10px;
}

.tambah-pesan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fce09b;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 665px;
  max-height: 100%;
  height: 75px;
 
}

.tambah-pesan h2 {
  font-size: 24px;
}



.tambah-pesan button{
  max-width: 150px;
  width: 100%;
  justify-content: center;
  padding: 0.8rem 2.5rem;
  margin-block: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #b2533e;
  cursor: pointer;
  transition: all 0.15s ease-in;
  margin-right: 50px;

}

.side-bar {
  align-items: right;
  flex: 1;
  max-width: 650px;
  width: 100%;
  height: 150px;
  margin: 20px 10px;
  box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fdfaf2;
}

.order-menu {
  display: flex;
  max-width: 650px;
  width: 100%;
  max-height: 150px;
  height: 100%;
}

.side-bar img {
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}

.jenis-order {
  max-width: 350px;
  width: 100%;
  padding: 15px;
}

.jumlah-order {
  display: flex;
  max-height: 50px;
  height: 100%;
  padding-block: 10px;
  margin-top: 30px;
}

.jumlah-order p {
  font-size: 21px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.jumlah-order .minus {
  background-color: white;
  border: 1px solid #186f65;
  border-radius: 5px;
  cursor: pointer;
}
.jumlah-order .num {
  background-color: white;
  border-radius: 5px;
}
.jumlah-order .plus {
  color: white;
  background-color: #186f65;
  border-radius: 5px;
  cursor: pointer;
}

.jenis-order h3 {
  justify-content: end;
}

.harga {
  max-width: 120px;
  width: 100%;
  text-align: left;
  padding-top: 3px;
  font-size: 1.2rem;
  margin-left: 5px;
}

.pesanan {
  max-height: 100px;
  color: #b2533e;
  margin-inline: 20px;
  font-size: 20px;
  font-family: "Poppins";
}

.pesanan hr {
  max-width: 130px;
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background-color: #b2533e;
}

.pesanan-lainnya {
  max-height: 130px;
  height: 100%;
  padding: 10px;
}

.pesanan-lainnya h4 {
  margin-bottom: 10px;
}

.pesanan-lainnya a {
  color: #b2533e;
  padding-bottom: 10px;
  margin-bottom: 50px;
  text-decoration: none;
}

.catatan input {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border: 1px solid #186f65;
  border-radius: 10px;
  margin-top: 15px;
}

.row-konten {
  display: flex;
  min-height: 100vh;
  max-width: 600px;
  width: 100%;
  margin: 50px 20px;
  align-items: left;
  justify-content: left;
}

.konten {
  flex-direction: column;
  background-color: #fff1cd;
  max-width: 600px;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, 0.5);
}

.info-pengiriman {
  color: #b2533e;
  padding: 10px 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  justify-content: center;
}

.form .nama,
.nama-belakang,
.email,
.no-telp {
  max-width: 250px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  margin: 10px 20px;
}

.form .nama input,
.nama-belakang input,
.email input,
.no-telp input {
  border: 1px solid #b2533e;
  border-radius: 10px;
  max-height: 35px;
  height: 100%;
  background-color: #fdfaf2;
}

.form .alamat {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  max-height: 130px;
  height: 100%;
  margin: 10px 20px;
}

.form .alamat input {
  max-width: 550px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  border: 1px solid #b2533e;
  border-radius: 10px;
  background-color: #fdfaf2;
}

.form input {
  max-width: 250px;
  width: 100%;
  padding-left: 15px;
}

.subtotal {
  max-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtotal-item {
  display: flex;
  border-radius: 10px;
  background-color: #fce09b;
  max-width: 550px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.subtotal-item h3 {
  margin-block: 10px;
}

.subtotal-left,
.subtotal-right {
  max-width: 100px;
  width: 100%;
  margin: 10px;
}

.subtotal-right {
  text-align: right;
}

.konfir-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.konfir-btn button {
  max-width: 530px;
  width: 100%;
  justify-content: center;
  padding: 0.8rem 2.5rem;
  margin-block: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #b2533e;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.konten p {
  max-width: 150px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  color: #b2533e;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  max-width: 550px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}

.hr-modal {
  background-color: #b2533e;
  max-width: 200px;
  height: 5px;
  border-radius: 10px;
  margin-inline: auto;
}

.modal-content p {
  max-width: 550px;
  width: 100%;
  color: black;
  font-weight: 500;
  margin-block: 40px;
}

.ttp-Btn {
  background-color: #186f65;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 30px;
}


/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

/* End of Footer */

@media (max-width: 1366px) {
  html p {
    font-size: 75%;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }

  .card {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  .title1 {
    font-size: 2rem;
  }

  .title2 {
    font-size: 2rem;
    color: #b2533e;
  }

  .title3 {
    font-size: 2rem;
    color: #b2533e;
    text-align: center;
  }

  html {
    font-size: 60%;
  }

  .content {
    margin-top: 60px;
  }

  h1 {
    font-size: 1rem;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  /* .nav-item {
  } */

  .nav-list.active {
    right: 0;
  }

  main .content .content-image img {
    width: 62.5%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid .card {
    max-width: 150px;
    max-height: 200px;
  }

  .grid-order {
    grid-template-columns: repeat(2, 1fr);
    max-width: 250px;
    max-height: 300px;
  }

  .grid-order img {
    max-width: 80px;
    max-height: 80px;
  }

  .card-order {
    margin-block: 10px;
    justify-content: center;
    align-items: center;
  }

  .card img {
    max-width: 150px;
    max-height: 150px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}

@media (max-width: 450px) {
  .hr2 {
    width: 200px;
    width: 100%;
    max-height: 4px;
    height: 100%;
  }

  .navbar-container {
    max-width: 375px;
  }

  header.navbar-container .logo img {
    width: 130px;
  }

  .content-description {
    width: 40%;
  }

  main .content .content-image img {
    width: 30%;
  }

  .about-description {
    margin-block: 15px;
  }

  .grid .card {
    width: 100%x;
  }

  .grid .card img {
    width: 150px;
  }

  .grid-order {
    width: 350px;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
