@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
}

.box-description {
  margin-top: 80px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  background: linear-gradient(to right, #fdfaf2, white);
}

.content-description {
  flex: 1 1;
  text-align: center;
  width: 100%;
}

.title-description {
  font-size: 3.5rem;
}

.content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.content-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.content-description button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

.content-image {
  flex: 1;
  display: flex;
  justify-content: end;
}

.content-image img {
  min-width: 200px;
  width: 100%;
}

/*About SR*/

.about-sr {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  background-color: #fdfaf2;
  background: linear-gradient(to left, #f7e1ae, #fdfaf2);
}

.about-sr .about-description {
  flex: 1 1;
  padding: auto;
}

.title2 {
  font-size: 2.5rem;
  color: #b2533e;
}

.about-sr .about-description p {
  margin-block: 1rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
  padding-right: 10px;
}

.hr2 {
  max-width: 540px;
  width: 100%;
  height: 5px;
  margin-left: 0;
  border-radius: 15px;
  background-color: #b2533e;
}

.about-sr .about-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.about-sr .about-description button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

.about-sr .about-image {
  flex: 1;
  display: flex;
}

.about-sr .about-image img {
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.hero {
  display: flex;
}

/*Offering*/
.offer {
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: white;
  background: linear-gradient(to top, #fdfaf2, white);
}

.offer-des {
  margin-top: 30px;
}

.title3 {
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;

  margin-bottom: 0;
}

.hr3 {
  align-items: center;
  max-width: 350px;
  margin: auto;
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background-color: #b2533e;
}

.offer-des p {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 20px;
}

.grid .card {
  text-align: center;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 3px black;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 30px 100px;
  grid-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-block: 5px;
}

.grid img {
  max-width: 300px;
  width: 100%;

  object-fit: cover;
  border-radius: 20px;
}

.card p {
  margin-block: 7px;
  font-size: 1.2rem;
}

.offer-button {
  text-align: center;
  align-items: center;
}

.offer-button button {
  justify-content: center;
  padding: 1rem 2.5rem;
  margin-block: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #186f65;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.offer-button button:hover {
  border: 3px solid #186f65;
  color: #2d3e50;
  background-color: transparent;
}

/*Order*/
.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  height: 100%;
  width: 100%;
  background-color: #fdfaf2;
  background: linear-gradient(to top, #f7e1ae, #fdfaf2);
}

.order .order-des {
  margin: 30px;
}

.title3 {
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  color: #b2533e;
}

.hr4 {
  width: 100%;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.grid-order {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

.card-order img {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.card-order {
  width: 100%;
  text-align: center;
  margin-block: 50px;
  font-weight: 700;
}

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

/* End of Footer */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  .content-image img {
    width: 75%;
  }

  .card {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .box-description {
    margin-top: 60px;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .content-image img {
    width: 62.5%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-order {
    grid-template-columns: repeat(2, 1fr);
    max-width: 250px;
    max-height: 300px;
  }

  .grid-order img {
    max-width: 80px;
    max-height: 80px;
  }

  .card-order {
    margin-block: 10px;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-col img {
    width: 80%;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}

@media (max-width: 450px) {
  .title-description {
    font-size: 20px;
  }

  .title2 {
    font-size: 20px;
    color: #b2533e;
  }

  .title3 {
    font-size: 20px;
    color: #b2533e;
    text-align: center;
  }

  .hr2 {
    max-width: 135px;
    width: 100%;
    height: 4px;
  }

  .hr3 {
    max-width: 175px;
    width: 100%;
  }

  .hr4 {
    max-width: 120px;
    width: 100%;
  }

  header.navbar-container .logo img {
    width: 130px;
  }

  .content-description {
    width: 40%;
  }

  .content-image img {
    width: 30%;
  }

  .content-description button {
    font-size: 9px;
    padding: 5px 15px;
  }

  .about-sr .about-description button {
    font-size: 9px;
    padding: 5px 15px;
  }

  .offer-button button {
    font-size: 9px;
    padding: 5px 15px;
  }

  .about-description {
    margin-block: 15px;
  }

  .grid .card {
    max-width: 150px;
    max-height: 200px;
  }

  .grid .card img {
    width: 150px;
    height: 150px;
  }

  .grid-order {
    width: 350px;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
