@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
main {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #186f65;
  padding-block: 1rem;
}

header.navbar-container .logo img {
  margin: auto;
  width: 200px;
}

.nav-list {
  transition: transform 0.3s ease-in-out;
}

.nav-list.open {
  transform: translate(0, 0);
}

#hamburger {
  display: none;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: White;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #a6cf98;
  color: #1a5d1a;
}

.nav-link.active {
  background-color: #a6cf98;
  color: #186f65;
}

/* End of Header */

/* main */

main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  background: radial-gradient(
    circle farthest-side at center right,
    #f6e8c9,
    #ffffff
  );
}

/* recommend start */

.title-recommend {
  text-align: center;
  font-size: 1 rem;
  color: #b2533e;
  margin-block: 20px;
  width: 100%;
}

.title-recommend hr {
  width: 225px;
  height: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: #b2533e;
}

.content-recommends {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
  margin-top: 80px;
}

.detail-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block: 20px;
  max-height: 700px;
  height: 100%;
  background-color: #fff1cd;
  justify-content: center;
  padding-block: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.menu-btn {
  display: flex;
  width: 100%;
  max-height: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.menu-btn button {
  padding: 15px;
  width: 190px;
  max-height: 50px;
  height: 100%;
  border: 0;
  border-radius: 7px;
  color: #fce09b;
  background-color: #186f65;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.detail-menu img {
  max-width: 430px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgb(0, 0, 0, 0.5);
}

.menu-detail {
  max-width: 500px;
  width: 100%;
  max-height: 700px;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  color: #186f65;
  font-weight: 500;
}

.menu-detail p {
  font-size: 1.2rem;
  margin-top: 15px;
}

/* end of recomeend */

/*Footer*/
footer {
  display: flex;
  background-color: #186f65;
  max-height: 400px;
  justify-content: center;
  width: 100%;
}

.footer-col img {
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 180px;
  width: 100%;
  align-items: center;
}

.footer-col-com ul,
.footer-col ul {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-inline: auto;
  justify-content: center;
  width: 100%;
}

.footer-col {
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 20px;
  width: 25%;
}

.footer-col .title {
  text-align: center;
  margin-block: 15px;
}

.footer-col-com {
  color: white;
  margin-block: auto;
  width: 35%;
}

.footer-col-com h3 {
  text-align: center;
  margin-bottom: 20px;
}

.footer-col-com a,
.footer-col a {
  max-width: 130px;
  text-align: left;
  margin-inline: 10px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

.social-links {
  text-align: center;
  height: 30px;
}

.social-links i {
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.social-links i fa-brands::before {
  size: 40px;
}

/* End of Footer */

/* Responsive Page Setting */

/* 1. Display Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .title {
    font-size: 1.75rem;
  }

  .title-recommend hr {
    width: 175px;
  }

  header.navbar-container .logo img {
    width: 150px;
  }

  main .content .content-image img {
    width: 75%;
  }

  .detail-menu {
    width: 750px;
  }

  .menu-img {
    width: 375px;
    height: 225px;
  }

  .detail-menu img {
    width: 375px;
    height: 225px;
  }

  .menu-detail {
    width: 300px;
  }
}
/* End of Display Laptop */

/* 2. Display Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .title {
    font-size: 1.5rem;
  }

  .title-recommend hr {
    width: 150px;
  }

  .content-recommends {
    margin-top: 60px;
  }

  .navbar-container {
    max-height: 60px;
    height: 100%;
  }

  header.navbar-container .logo img {
    width: 140px;
  }

  #hamburger {
    display: block;
  }

  .nav-list {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: #439c91;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-block: 20px;
  }

  .nav-list.active {
    right: 0;
  }

  .detail-menu {
    width: 650px;
  }

  .menu-img {
    width: 300px;
    height: 200px;
  }

  .detail-menu img {
    width: 300px;
    height: 200px;
  }

  .menu-detail {
    width: 300px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-col,
  .footer-col-com {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-col img {
    width: 80%;
    margin: auto;
  }

  .footer-col .title,
  .footer-col-com .title {
    width: 100%;
    text-align: center;
  }

  .social-links i {
    font-size: 17px;
    width: 30px;
    height: 30px;
  }

  .footer-col h3 {
    margin-block: 7px;
  }
}
/* End of Display Tablet */

/* 3. Display HP */

@media (max-width: 450px) {
  .title {
    font-size: 1rem;
  }
  header.navbar-container .logo img {
    width: 130px;
  }

  .detail-menu p {
    font-size: 1.3rem;
  }

  main .content .content-image img {
    width: 55%;
  }

  .content-recommends {
    margin-top: 60px;
  }

  .detail-menu {
    max-width: 350px;
  }

  .menu-img img {
    max-width: 325px;
    max-height: 275px;
  }

  .menu-detail {
    margin-inline: 15px;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.7rem;
    font-weight: 400;
  }

  .footer-col img {
    max-width: 144px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
/* End of Display Hp */
